/*scrollbar*//*scrollbar*//*scrollbar*//*scrollbar*//*scrollbar*//*scrollbar*/
/*scrollbar*//*scrollbar*//*scrollbar*//*scrollbar*//*scrollbar*//*scrollbar*/
/*scrollbar*//*scrollbar*//*scrollbar*//*scrollbar*//*scrollbar*//*scrollbar*/
::-webkit-scrollbar {
  width: 19px;
}

::-webkit-scrollbar-track {
  background-color: #00ace6;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom right, #3333cc, #00ace6);
  border-radius: 6.5px;
}


/*Mise en page*//*Mise en page*//*Mise en page*//*Mise en page*//*Mise en page*/
/*Mise en page*//*Mise en page*//*Mise en page*//*Mise en page*//*Mise en page*/
/*Mise en page*//*Mise en page*//*Mise en page*//*Mise en page*//*Mise en page*/
h1, h2 {
  font-size: 0.001px;
}

body {
  background-image: linear-gradient(to top left, #3333cc, #00ace6);
}

* {
  box-sizing: border-box;
}

li a {
  color: white;
  float: left;
  width: 33.33%;
  padding: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

a {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
}

.banniere {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005c99;
  position: -webkit-sticky;
  position: sticky;
  border-radius: 0px 0px 4px 4px;
  top: 0;
}

li a:hover {
  background-color: #003d66;
  letter-spacing: 0.3rem;
}

.home {
  background-color: #002e4d;
}

.home:hover {
  background-color: #001f33;
}


/*liens amazon*//*liens amazon*//*liens amazon*//*liens amazon*/
/*liens amazon*//*liens amazon*//*liens amazon*//*liens amazon*/
/*liens amazon*//*liens amazon*//*liens amazon*//*liens amazon*/
button {
  border: 10px solid #0099cc; 
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 100px;
  -webkit-transition: 0.3s;
}

button:hover {
  border-radius: 12px;
  border: 10px solid #33ccff;
  filter: blur(1px); 
}


/*texte email*//*texte email*//*texte email*//*texte email*/
/*texte email*//*texte email*//*texte email*//*texte email*/
/*texte email*//*texte email*//*texte email*//*texte email*/
p {
  position: relative;
  text-align: center;
  color: black;
  background-image: linear-gradient(to top left, #3333cc, #00ace6);
  padding: 150px;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Fira Mono', monospace;  
  line-height: 50px;
}

.mail {
  font-size: 30px;
  font-family: 'Fira Mono', monospace;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
  -webkit-transition: 0.3s;
}

.mail:hover {
  color: white;
  border-bottom: 3px solid white;
}


/*Pour telephones*/
@media only screen and (max-width: 373px) {
  /* iPhone SE */
  .banniere {
    width: 100%;
  }
  li a {
    width: 100%;
    font-size: 20px;
    padding: 7px;
  }
  button {
    margin-top: 7px;
    margin-left: -6px;
    border: 6px solid #0099cc; 
  }
  button:hover {
    border: 6px solid #0099cc; 
  }
  ul {
    position: relative;
  }
  p {
    line-height: 15px;
    font-size: 10px;
    padding: 20px;
    border-radius: 3px;
  }
  .mail {
    font-size: 10px;
  }
}
@media (min-width: 374px) and (max-width: 519px) {
  /* iPhone 6 */
  .banniere {
    width: 100%;
  }
  li a {
    width: 100%;
    font-size: 25px;
    padding: 10px;
  }
  button {
    margin-top: 10px;
    margin-left: 10px;
  }
  ul {
    position: relative;
  }
  p {
    line-height: 30px;
    font-size: 15px;
    padding: 30px;
    border-radius: 5px;
  }
  .mail {
    font-size: 15px;
  }
}
@media (min-width: 520px) and (max-width: 569px) {
  /* SE -> */
  li a {
    width: 100%;
    font-size: 20px;
    padding: 3px;
  }
  button {
    margin-top: 10px;
    margin-left: 15px;
  }
  ul {
    position: relative;
  }
  p {
    line-height: 20px;
    font-size: 15px;
    padding: 25px;
    border-radius: 5px;
  }
  .mail {
    font-size: 15px;
  }
}
@media (min-width: 570px) and (max-width: 900px) {
  /* 6 -> */
  .banniere {
    width: 100%;
  }
  li a {
    width: 100%;
    font-size: 20px;
    padding: 7px;
  }
  button {
    margin-top: 20px;
    margin-left: 40px;
  }
  ul {
    position: relative;
  }  
  p {
    line-height: 30px;
    font-size: 20px;
    padding: 30px;
    border-radius: 5px;
  }
  .mail {
    font-size: 20px;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  /* iPad */
  .banniere {
    width: 100%;
  }
  button {
    margin-top: 20px;
    margin-left: 40px;
  }
}