body {
  background-image: url("fond.png");
}

* {
  box-sizing: border-box;
}

li a {
  color: white;
  float: left;
  width: 33.33%;
  padding: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

a {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
}

.banniere {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005c99;
  position: -webkit-sticky;
  position: sticky;
  border-radius: 0px 0px 4px 4px;
  top: 0;
}

li a:hover {
  background-color: #003d66;
  letter-spacing: 0.3rem;
}

.home {
  background-color: #002e4d;
}

.home:hover {
  background-color: #001f33;
}


@media only screen and (max-width: 519px) {
  /* For mobile phones: */
  ul {
    width: 100%;
  }
  .banniere {
    display: none;
  }
  li a {
    font-size: 13px;
    padding: 20px;
  }
  ul {
    float: top;
    display: block;
  }
}

@media (min-width: 520px) and (max-width: 659px) {
  /* For mobile phones: */
  ul {
    width: 100%;
  }
  .banniere {
    display: none;
  }
  li {
    float: none;
    display: block;
  }
  li a {
    font-size: 15px;
    padding: 22px;
  }
}