body {
  background-image: url("fond.png");
}

* {
  box-sizing: border-box;
}

li a {
  color: white;
  float: left;
  width: 33.33%;
  padding: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

a {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
}

.banniere {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005c99;
  position: -webkit-sticky;
  position: sticky;
  border-radius: 0px 0px 4px 4px;
  top: 0;
}

li a:hover {
  background-color: #003d66;
  letter-spacing: 0.3rem;
}

.home {
  background-color: #002e4d;
}

.home:hover {
  background-color: #001f33;
}


/*Pour Mobile et tablette*//*Pour Mobile et tablette*//*Pour Mobile et tablette*/
/*Pour Mobile et tablette*//*Pour Mobile et tablette*//*Pour Mobile et tablette*/
/*Pour Mobile et tablette*//*Pour Mobile et tablette*//*Pour Mobile et tablette*/
@media only screen and (max-width: 519px) {
  /* For mobile phones: */
  .banniere {
    display: none;
  }
  li a {
    width: 100%;
    font-size: 25px;
    padding: 10px;
  }
}
@media (min-width: 520px) and (max-width: 800px) {
  /* For tablet: */
  li a {
    width: 100%;
    font-size: 25px;
    padding: 15px;
  }
}


/*liens amazon*//*liens amazon*//*liens amazon*//*liens amazon*/
/*liens amazon*//*liens amazon*//*liens amazon*//*liens amazon*/
/*liens amazon*//*liens amazon*//*liens amazon*//*liens amazon*/
button {
  border: double 4px transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top right, #0099cc,#00ccff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-top: 100px;
  margin-left: 70px;
}